matrix:
  include:
    - language: node_js
      node_js:
        - 10
      install: npm install
      script:
        - npm run test

    - language: node_js
      node_js:
        - 10
      before_install:
        cd client
      install:
        npm install
      script:
        npm run test
